# Tests
src/__tests__
jest.config.js
jest.setup.js

# Source files (seuls les fichiers compilés sont publiés)
src/
tsconfig.json

# Configuration files
.eslintrc
.prettierrc
.github

# Documentation
docs/
TODO.md

# Development files
.vscode/
coverage/ 